body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
}

#navbar {
  background-color: #f4f4f4;
  padding: 20px;
  width: 200px;
  position: fixed;
  left: 0;
}

#navbar header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.nav-link {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
}

.nav-link:hover {
  color: #f39c12;
}

#main-doc {
  margin-left: 220px;
  padding: 20px;
}

.main-section {
  margin-bottom: 40px;
}

.main-section header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-section p {
  margin-bottom: 10px;
}

.main-section code {
  display: block;
  background-color: #f4f4f4;
  padding: 5px;
  margin-bottom: 10px;
}

.main-section li {
  list-style-type: circle;
  margin-left: 20px;
}


@media (max-width: 768px) {
  body {
      flex-direction: column;
  }

  #navbar {
      position: static;
      width: 100%;
  }

  #main-doc {
      margin-left: 0;
  }
}
